<div class = 'plot-editor-wrapper'>
    <h2>Scenes</h2>
  
    <div>
      <div 
        cdkDropList
        #scenesList="cdkDropList"
        [cdkDropListData]="scenes"
        (cdkDropListDropped)="drop($event)">
            <div class = 'draggable-item' *ngFor="let scene of scenes" tabIndex = "0" cdkDrag>
            <div class = 'drag-content'>
                
            <scene-details [scene] = 'scene'></scene-details>
            
            <button (click)="remove(scene)" class = 'list-item-delete-btn' >X</button>
            </div>
            </div>
        </div>
      
    </div>
  
  
  
  
  </div>