<div class = 'plot-editor-wrapper'>
    <h2>Scenes</h2>
  
    <div>
      <div >
            <div class = 'scene-container' *ngFor="let scene of scenes" >
            <div class = 'story-content no-select'>
                
            <scene-details [scene] = 'scene'></scene-details>
            
            <button (click)="removeScene(scene)" class = 'list-item-delete-btn' >X</button>
            </div>
            </div>
        </div>
      
        <button (click) = "addScene()">Add Scene</button>
    </div>
  
  
  
  
  </div>