
h1,h2{
    text-align: center;
}
h3,h4,h5,h6{
    margin:1px 0px 1px 0px;
}
.app-characters-list-wrapper{
    padding:5px;
}
.drop-box{
    border: 1px dashed var(--primary-dark);
    border-radius: 5px;
    padding:5px;
    min-height: 10vh;
}
.draggable-item {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin:5px 0 5px 0;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.draggable-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.drag-content{
    border-radius: 5px;
    height: fit-content;
    display:flex;
    overflow: wrap;
    width: 100%;
    border:1px solid var(--primary-light);
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.drag-instruction:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.drag-instruction{
    // background-color: #ffffff;
    width: 5%;
    fill:var(--primary-light);
    border-radius: 5px;
    padding:2px;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 900px){
    .drag-instruction{
        display: none;
    }
}
character-details{
    width: 100%;
}
button.list-item-delete-btn{
    cursor: pointer;

    height: min-content;
    width: min-content;
    box-sizing: border-box;
}