.scene-details-wrapper{
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.hidden{
    display:none;
}
.show{
    display:flex;
    flex-direction: column;
    padding:5px;
    margin:5px;
    border-radius: 2px;
}
textarea, input { 
    border:1px solid #ccc; 
 
    resize: none;
    width: 100%; 
    box-sizing: border-box;
}
textarea.para{
    min-height: 5em;
}



.scene-title{
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
}