
.hidden{
    display:none;
}
.show{
    display:flex;
    flex-direction: column;
    padding:5px;
    margin:5px;
    border-radius: 2px;
}
textarea, input { 
    border:1px solid #f9f9f9; 
    // font-size: 1em;
    resize: none;
    width: 100%; 
    box-sizing: border-box;}
label{
    display: none;
    font-size: 0.8em;
}
h1,h2,h3,h4,h5{
    background-color: var(--txt-color-shade);
}