.container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    min-height: 80vh;
    box-sizing: border-box;
}
.header-info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 15%;
}
.content{
    display: block;
    width: 100%;
    border-radius: 5px;
    padding:10px;
}
.header-info+.content{
    margin: 10px;
}
@media only screen and (max-width: 600px){
    .container{
        flex-flow: column;
        min-height: fit-content;
    }
    .header-info{
        width: 100%;
    }
}
button{
    width: min-content;
}
.story-editor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 100%;
}
.plot-editor-container{
    width:60%;
}
.characters-list-container{
    width: 39%;
    min-height: 100%;
}