.stories-menu{
     /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
    border:2px solid;
    // border-color: var(--btn-color);
    // color:var(--text-color-dark);
    margin:5px;
    
    font-size: large;
}
a:hover{
    // background-color: var(--primary-light);
    // color:var(--text-color-dark);
    cursor: pointer;
}
h2{
    display: flex;
    justify-content: center;
}