<h2>Recent Stories</h2>
<input [(ngModel)]="newStoryName" type="text" 
                    value="" class="col-7 form-control"
                        style="width:300px;">
<button (click) = 'addStory()'>Add Story</button>
<div></div>
<div class="stories-menu">
  <div  *ngFor="let story of getStories(); let index = index;">
    
    <button class = 'del'(click) = "deleteStory(story)">X</button>
    <div class = 'book' [routerLink]="['/story', story.id]">
    {{story.name}}
  </div>
  </div>
</div>